table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;

}


thead th {
    background-color: #bcd1e0;
    color: #000;
    font-weight: bold;
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #7e97b8;
    border-right: 1px solid #7e97b8;
}

#Corse {
    border: none;
    background-color: transparent;
}


tbody tr {
    background-color: #e6f0fa;
}


tbody td,
th {
    padding: 10px;
    border-bottom: 1px solid #bcd1e0;
    border-right: 1px solid #7e97b8;
}


tbody td:last-child,
thead th:last-child {
    border-right: none;
}


tbody tr:nth-child(odd) {
    background-color: #f4f9ff;
}


tfoot {
    background-color: #bcd1e0;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    color: #333;
}


th[scope="row"],
th[scope="rowgroup"] {
    background-color: #e6f0fa;
    font-weight: normal;
    text-align: left;
}


tbody td {
    text-align: center;
}


figcaption {
    text-align: center;
    font-size: 12px;
    color: #666;
    margin-top: 10px;
}